.emailList {
  width: 100%;
  padding-left: 10px;
}

.emailList_settings {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgb(207, 206, 206);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.emailList_sections {
  position: sticky;
  top: 43px;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 999;
}

@media screen and (max-width: 1024px) {
  .emailList_sections {
    display: none;
  }
}
